# The Python web framework on which Nexus is built
# https://docs.djangoproject.com/en/stable/releases/
Django==5.2.9

# Runtime UI tool for debugging Django
# https://github.com/jazzband/django-debug-toolbar/blob/main/docs/changes.rst
django-debug-toolbar==6.1.0

# Django Extensions is a collection of custom extensions for the Django Framework
# https://github.com/django-extensions/django-extensions/blob/main/CHANGELOG.md
django-extensions==4.1

# Django extensions for Rich (terminal text rendering)
# https://github.com/adamchainz/django-rich/blob/main/CHANGELOG.rst
django-rich==2.2.0

# ASGI is a standard for Python asynchronous web apps and servers to communicate with each other
# https://github.com/django/asgiref/blob/main/CHANGELOG.txt
asgiref==3.11.0

# A non-validating SQL parser
# https://sqlparse.readthedocs.io/en/latest/changes.html
sqlparse==0.5.4
