{% load static i18n %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" {% block html_attribute %}{% endblock html_attribute %}>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>{% block title %}{% endblock title %} | Nexus</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="index, follow" />
  <meta name="theme-color" content="#ffffff">

  <!-- App favicon -->
  <link rel="shortcut icon" href="{% static '/images/favicon.ico' %}">

  <!-- Iconify -->
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

  {% block css %}
  <!-- Your stuff: Third-party CSS libraries go here -->
  <!-- This file stores project-specific CSS -->

  {% block extra_css %}{% endblock extra_css %}

  <!-- Google Font Family link -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">

  <!-- Vendor css -->
  <link href="{% static '/css/vendor.min.css' %}" rel="stylesheet" type="text/css" />

  <!-- Icons css -->
  <link href="{% static '/css/icons.min.css' %}" rel="stylesheet" type="text/css" />

  <!-- App css -->
  <link href="{% static '/css/style.min.css' %}" rel="stylesheet" type="text/css" />

  <!-- Theme Config js -->
  <script src="{% static '/js/config.js' %}"></script>


  {% endblock css %}

</head>

<body {% block body_attribute %}{% endblock body_attribute %}>

  {% block content %}{% endblock content %}

  {% block javascript %}

  <!-- Vendor Javascript -->
  <script src="{% static '/js/vendors.min.js' %}"></script>

  <!-- App Javascript -->
  <script src="{% static '/js/app.js' %}"></script>

  {% block extra_javascript %}{% endblock extra_javascript %}

  {% endblock javascript %}

</body>

</html>