{% extends "components_app/base_component.html" %}

{% block page_content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{{ page_title }} Demo</h5>
            </div>
            <div class="card-body">
                <p>This is a demo page for {{ page_title }} component.</p>

                <p>Chart components would be displayed here using various charting libraries.</p>

                <div class="bg-light p-3 rounded">
                    <p><strong>Implementation Notes:</strong></p>
                    <ul>
                        <li>Include charting library (ApexCharts, Chart.js, etc.)</li>
                        <li>Prepare data in appropriate format</li>
                        <li>Initialize chart with configuration options</li>
                        <li>Add responsive design considerations</li>
                    </ul>
                </div>

                <div class="mt-3">
                    <a href="{% url 'components_app:all-components-demo' %}" class="btn btn-primary">Back to All Components</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}