{% load static i18n %}

<div class="app-sidebar">
    <!-- Sidebar Logo -->
    <div class="logo-box">
        <a href="/" class="logo-dark">
            <img src="{% static '/images/logo-sm.png' %}" class="logo-sm" alt="logo sm">
            <img src="{% static '/images/logo-dark.png' %}" class="logo-lg" alt="logo dark">
        </a>

        <a href="/" class="logo-light">
            <img src="{% static '/images/logo-sm.png' %}" class="logo-sm" alt="logo sm">
            <img src="{% static '/images/logo-light.png' %}" class="logo-lg" alt="logo light">
        </a>
    </div>

    <div class="scrollbar" data-simplebar>
        <ul class="navbar-nav" id="navbar-nav">
            {% if app_menu_items %}
                <!-- Application-specific menu items -->
                {% for item in app_menu_items %}
                    <li class="menu-title">{{ item.title }}</li>
                    {% for nav_item in item.items %}
                        <li class="nav-item">
                            {% if nav_item.sub_items %}
                                <a class="nav-link menu-arrow" href="#{{ nav_item.id }}" data-bs-toggle="collapse" role="button"
                                   aria-expanded="false" aria-controls="{{ nav_item.id }}">
                                    <span class="nav-icon">
                                        <iconify-icon icon="{{ nav_item.icon }}"></iconify-icon>
                                    </span>
                                    <span class="nav-text"> {{ nav_item.title }} </span>
                                </a>
                                <div class="collapse" id="{{ nav_item.id }}">
                                    <ul class="nav sub-navbar-nav">
                                        {% for sub_item in nav_item.sub_items %}
                                            <li class="sub-nav-item">
                                                <a class="sub-nav-link" href="{{ sub_item.url }}">{{ sub_item.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                <a class="nav-link" href="{{ nav_item.url }}">
                                    <span class="nav-icon">
                                        <iconify-icon icon="{{ nav_item.icon }}"></iconify-icon>
                                    </span>
                                    <span class="nav-text"> {{ nav_item.title }} </span>
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endfor %}
            {% else %}
                <!-- Default menu items from the original sidebar -->
                <li class="menu-title">Menu</li>

                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <span class="nav-icon">
                            <iconify-icon icon="mingcute:home-3-line"></iconify-icon>
                        </span>
                        <span class="nav-text"> Dashboard </span>
                    </a>
                </li>

                <!-- Add more default menu items as needed -->
                <li class="menu-title">Components</li>

                <li class="nav-item">
                    <a class="nav-link" href="/components/">
                        <span class="nav-icon">
                            <iconify-icon icon="mingcute:box-line"></iconify-icon>
                        </span>
                        <span class="nav-text"> UI Components </span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>


<div class="animated-stars">
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
</div>